@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
} */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.spaced-text {
  word-spacing: 0.5em; /* Adjust the spacing value as needed */
}
.pinColor{
  color: #868686;
}

.navbar{
  background-color: #ffffff00;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 1rem;
}
.left-items img{

  height: 20px;
}
.footer{
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
}
.upper {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.upperTitle {
  display: flex;
  flex-direction: column;
}

.upperTitle p {
  color: #333333;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.upperTitle span {
  color: #333333;
  font-size: 15px;
}

.upperFigma {
  background-color: white;
}

.upperFigma iframe {
  width: 600px;
  height: 600px;
}


.line{

  background-color: #868686;
  height: 0.5px;
  margin-left: 120px;
  margin-right: 120px;
}

.project-heading{
  margin-left: 120px;
  margin-bottom: -30px;
}
/* .projects-img{
  width: 100%;
  display: block;
} */

 /* from old website */
 .prototype {
  background-color: #232323;
  text-align: center;
  justify-content: center;
  display: flex;
}


.prototype iframe {
  width: 100%;
  height: 700px;
}
@media (max-width: 768px) {
  .navbar {
    margin-left: 8px; /* Smaller margin for mobile screens */
    margin-right: 8px; /* Smaller margin for mobile screens */
  }
  .spotlight{
    display: none;
  }
  .footer{
    font-size: 11px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .scrollingimg {
      height: 250px;
  }

  .prototype iframe,
  .prototype {
      display: none;
  }

  .project1Text-container,
  .project2Text-container,
  .project3Text-container,
  .project4Text-container,
  .project5Text-container,
  .animationFrame {
      display: none;
  }

  .project42-container {
      display: block;
  }

  .project42-container img {
      display: block;
  }
}
@media (max-width: 768px) {
  .upper {
    flex-direction: column;
  }

  .upperFigma iframe {
    width: 100%;
    height: auto;
  }

  .upperTitle p {
    font-size: 20px;
  }

  .upperTitle span {
    font-size: 14px;
  }
}