@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
} */
body {
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #19191975;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.scrollToTop:hover {
  background-color: #191919;
  transform: scale(1.1);
}
.spaced-text {
  word-spacing: 0.5em; /* Adjust the spacing value as needed */
}
.pinColor{
  color: #868686;
}

.navbar{
  background-color: #ffffff00;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 1rem;
}
.left-items img{

  height: 20px;
}
.footer{
  justify-content: space-between;
  margin-left: 160px;
  margin-right: 160px;
}
.upper {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.upperTitle {
  display: flex;
  flex-direction: column;
}

.upperTitle p {
  color: #333333;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.upperTitle span {
  color: #333333;
  font-size: 15px;
}

.upperFigma {
  background-color: white;
}

.upperFigma iframe {
  width: 600px;
  height: 600px;
}


.line{

  background-color: #868686;
  height: 0.5px;
  margin-left: 160px;
  margin-right: 160px;
}

.project-heading{
  margin-left: 160px;
  margin-bottom: -30px;
}
/* .projects-img{
  width: 100%;
  display: block;
} */

 /* from old website */
 .prototype {
  background-color: #232323;
  text-align: center;
  justify-content: center;
  display: flex;
}

.thrilledSection{
  margin-left: 160px;
  margin-right: 160px;
}
.thrilledSection span{
  margin-top: 20px;
font-size: 30px;
}
.thrilledSection span img{
  height: 40px;
}
.arrowline{
  margin-top: -40px;
}
.email{
  font-size: 22px;
}
.socials {
  margin-top: 30px;
  margin-left: 160px;
  margin-right: 160px;
}
.socials img{
  height: 25px;
  /* filter: invert(); */
}
.resume{
  text-decoration:underline;
}
.prototype iframe {
  width: 100%;
  height: 700px;
}
@media (max-width: 768px) {
  .navbar {
    margin-left: 8px; /* Smaller margin for mobile screens */
    margin-right: 8px; /* Smaller margin for mobile screens */
  }
  .spotlight{
    display: none;
  }
  .project-heading{
    margin-left: 40px;
    margin-bottom: -30px;
  }
  
  .line{

    background-color: #868686;
    height: 0.5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .scrollingimg {
      height: 250px;
  }

  .prototype iframe,
  .prototype {
      display: none;
  }

  .project1Text-container,
  .project2Text-container,
  .project3Text-container,
  .project4Text-container,
  .project5Text-container,
  .animationFrame {
      display: none;
  }

  .project42-container {
      display: block;
  }

  .project42-container img {
      display: block;
  }
}
@media (max-width: 768px) {
  .upper {
    flex-direction: column;
  }

  .upperFigma iframe {
    width: 100%;
    height: auto;
  }

  .upperTitle p {
    font-size: 20px;
  }

  .upperTitle span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .thrilledSection {
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .thrilledSection span {
    font-size: 12px;
  }
  .thrilledtext{
    margin-bottom: -20px;
  }
  .thrilledSection span img {
    height: 20px;
  }
  .arrowline {
    
    margin-top: 10px;
    gap: 4px;
  }
  .email {
    margin-top: 20px;
    font-size: 10px;
  }
  .resume {
    margin-top: 10px;
    font-size: 9px;
  }
  .socials {
    margin-left: 40px;
    margin-right: 40px;
    justify-content: flex-start;
  }
  .socials img {
    height: 20px;
  }
}